body {
  font-size: 12px;
  padding: 10px;
}
.change-row-span {
  width: 135px;
  display: inline-block;
}
.date-range-row-span {
  width: 45px;
  display: inline-block;
  text-align: right;
  padding-right: 5px;
}
.checkbox {
  width: 200px;
  span {
    padding-left: 5px;
  }
}
.newline {
  margin-top: 5px;
}
.table-operation {
  &>tbody>tr:nth-of-type(odd) {
    background-color: #f5f6f1;
  }
  &>tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
}
.form-price-and-availibility {
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible;
  .table-price-and-availibility {
    .single-room {
      background-color: #c5c891 !important;
    }
    .double-room {
      background-color: #c9e6ef !important;
    }
    tr {
      td:nth-child(1) {
        background-color: #f5f6f2;
        z-index: 100;
      }
      td:nth-child(2) {
        padding-left: 210px;
      }
    }
    &>tbody>tr:nth-of-type(odd) {
      background-color: #f5f6f1;
    }
    &>tbody>tr:nth-of-type(even) {
      background-color: #f9f9f9;
    }
    .fixed-column {
      position: absolute;
      left: 10px;
      width: 200px;
      top:auto;
    }
    .elastic-column {
      position: relative;
    }
  }
}

@media screen and (max-width: 467px) {
  .checkbox {
    width: 100%;
    margin-bottom: 10px;
    span {
      padding-left: 5px;
    }
  }
  .col-md-2{
    padding: 0;
  }
  .col-xs-6 {
    margin-top: -15px;
  }
  .mobile-new-line {
    display: inline-block;
    width: 100%;
    clear: both;
  }
  .date-range-row-span {
    text-align: left;
  }
}
@media screen and (min-width: 467px) and (max-width: 767px) {
  .checkbox {
    width: 100%;
    margin-bottom: 10px;
    span {
      padding-left: 5px;
    }
  }
  .col-md-2 {
    padding: 0;
  }
  .col-xs-6 {
    margin-top: -15px;
  }
  .mobile-new-line {
    display: inline-block;
    width: 100%;
    clear: both;
  }
  .date-range-row-span {
    text-align: left;
  }
}
@media screen and (min-width: 767px) and (max-width: 989px) {
  .checkbox {
    width: 100%;
    margin-bottom: 10px;
    span {
      padding-left: 5px;
    }
  }
  .col-md-2 {
    padding: 0;
  }
  .mobile-new-line {
    display: inline-block;
    width: 100%;
    clear: both;
  }
  .date-range-row-span {
    text-align: right;
  }
}
@media screen and (min-width: 990px) and (max-width: 1240px) {
  .col-md-2 {
    padding: 0;
  }
  .mobile-new-line {
    display: flex;
    width: 100%;
    padding-top: 5px;
  }
  .date-range-row-span {
    text-align: left;
  }
}
@media screen and (min-width: 1240px) {
  .col-md-2 {
    padding: 0;
  }
  .mobile-new-line {
    display: inline-block;
  }
}
